project                           = "project"
gcve_zone                         = "us-central1-a"
gcve_region                       = "us-central1"
vmware_engine_network_name        = "us-central1-nikola-sandbox-default"
vmware_engine_network_description = "us-central1-nikola-sandbox-default"
vmware_engine_network_location    = "global"
vmware_engine_network_type        = "STANDARD"
create_vmware_engine_network      = true
pc_name                           = "nikola-private-cloud"
pc_cidr_range                     = "pc_cidr_range"
pc_description                    = "my-pc-description"
cluster_id                        = "management-cluster"
base_cidr_range                   = "base_cidr_range"
billing_id                        = "billing_id"
